@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Satoshi", sans-serif;
  background-color: #040015;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
  padding: 0 120px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #040015;
  height: 84px;
}

.logo img {
  display: flex;
  width: 120px;
  height: 29px;
  padding-bottom: 1px;
}

.wallet img {
  width: 101px;
  height: auto;
  display: block;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav-item {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 22px 0;
}

.dashboard-img {
  width: 245px;
}

.dashboard-img img {
  width: 100%;
  height: auto;
}

.search {
  width: 906px;
}

.search img {
  width: 100%;
  height: auto;
}

.ai-optimization-center img,
.optimization-principles img {
  width: 100%;
  height: auto;
}

.optimization-principles {
  padding: 30px 0;
}

.portfolio-view,
.footer {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.portfolio-view img,
.footer img {
  width: 100%;
  height: auto;
}

.last-section {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 25px;
  width: 100%;
  padding: 30px 0;
  max-height: 660px;
}

.active-positions {
  flex: 0 0 70%;
  width: 70%;
  max-height: 660px;
  max-width: 808px;
}

.active-positions img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 13px;
}

.live-market-news {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding: 24px 30px 33px 29px;
  border-radius: 13px;
  background: #13132a;
  overflow: hidden;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
}

.live-market-text {
  color: #fff;
  font-family: Satoshi, sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 5px;
}

.market-item {
  border-radius: 8px;
  background: #2a2a3f;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  color: #fff;
  position: relative;
  text-align: left;
  padding: 15px;
  padding-bottom: 20px;
}

.time-ago {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: var(--Grey, #adadad);
  font-size: 0.7vw;
}

.footer {
  padding-top: 115px;
  padding-bottom: 72px;
}

/* General Styles for the Live Market News Container */
.market-item.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.market-item.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

/* Keyframes for fade-out and fade-in */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
